@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@font-face{
  font-family: Mononoki-Regular;
  src: url(../font/mononoki-Regular.woff);
}

html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: 'Quicksand', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(180deg, #024, #000);
  background-attachment: fixed;
  color: #EEE;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 80%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;

  background-color: #046B;
  border: 0.1rem;
  border-radius: 0.33rem;
  border-style: solid;
  border-color: black;
  z-index: 1;
}
header > img {
  position: absolute;
  max-width: 100%;
  z-index: -2;
}
header > .header-bg {
  position: absolute;
  box-shadow: 0 0 8px 8px #0000 inset;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #046B;
  backdrop-filter: blur(0.125rem);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1rem;

  border: 0.1rem;
  border-radius: 0.33rem;
  border-style: solid;
  border-color: black;

  background-color: #0467;
  backdrop-filter: blur(0.1rem);
}
section {
  width: 98%;
  margin: 1rem;
  padding: 0rem 2rem 0rem 2rem;

  border: 0.1rem;
  border-radius: 0.33rem;
  border-style: solid;
  border-color: black;
}
section > div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}
section > div > img {
  max-width: 100%;
  padding-right: 1rem;
}
header > h1:first-of-type {
  font-size: 3rem;
  margin: 0.8rem 0rem 0.2rem 0rem;
}
header > h2:last-of-type {
  font-size: 2rem;
  margin: 0.2rem 0rem 0.8rem 0rem;
}
header > h1, h2 {
  font-kerning: auto ;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem 0.5rem black;
}
nav {
  position: sticky;
  top: 0;
  

  background-color: #6507;
  border: 0.1rem solid black;
  border-radius: 0.33rem;
  width: 80%;
  height: 100%;
  padding: 0.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  backdrop-filter: blur(0.25rem);
  
}
nav > a {
  display: block;
  text-align: center;
  padding: 1rem;
  width: 18%;
  border: 0.1rem solid black;
  border-radius: 0.33rem;
  background-color: #650;
  color: #FFF;
  text-shadow: 0.1rem 0.1rem 0.5rem #000,
                -0.1rem 0.1rem 0.5rem #000,
                -0.1rem -0.1rem 0.5rem #000,
                0.1rem -0.1rem 0.5rem #000;
  transition: background-color 0.5s, font-size 0.5s;
  
}
nav > a:visited {
  color: #BBB;

}
nav > a:link {
  text-decoration: none;
}
nav > a:hover {
  background-color: #980;
  color: #FFF;
  font-size: 1.33rem;
}
nav > a:visited:hover {
  background-color: #980;
  color: #FFF;
  font-size: 1.33rem;
}
p {
  font-size: 1.1rem;
}
ul, ol {
  list-style-type: square;
  font-size: 1.25rem;
}
li {
  font-size: 1.05rem;
}
* > hr {
  width: 95%;
}
div + p {
  margin: 0rem 0rem 1rem 0rem;
}
code {
  font-family: 'Mononoki-Regular', monospace;
}
a:link {
  color: #980;
}
a:visited {
  color: #C04;
}
a:visited:hover {
  color: #F07;
}
.p-title {
  color: #FFD;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.25rem 0.125rem 0.75rem black;
}
.p-lessertitle {
  color: #FFE;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0.25rem 0.125rem 0.75rem black;
}
.p-summary {
  font-size: 1.2rem;
}
.p-bold {
  font-size: 1.3rem;
  font-weight: 900;
  text-shadow: 0.25rem 0.125rem 0.8rem #012;
}
.p-hint {
  display: block;
  background-color: #0227;
  border-width: 0.125rem;
  border-style: solid;
  border-color: #777;
  border-radius: 1rem;
  max-width: max-content;

  padding: 0.5rem 1rem 0.5rem 1rem;
  word-break: keep-all;
  white-space: normal;
  color: #ccc;
  font-size: 1rem;
  font-style: italic;
}
.p-oldchange {
  color: #999;
  text-decoration: line-through;
  text-shadow: 0.01rem 0.01rem 0.4rem #222;
}
.p-newchange {
  font-weight: 600;
}
.ul-changelist {
  margin-top: 0rem;
}
.ul-changelist > li {
  margin-left: 2.5rem;
}
#component-header {
  width: 100%;
}
.flex-vertical-center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-grow: 1;
  align-items: stretch;
  flex-wrap: wrap;
}
#home-container > section {
  width: 40rem;
}
#patch-notes-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;
  align-items: flex-start; */
}
#patch-notes-summary > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: start;
}
#patch-notes-summary > div > div {
  display: flex;
  width: -moz-min-content;
  width: min-content;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
}
#patch-notes-summary > div > div > div {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
#patch-notes-summary > div > div > div > p {
  padding-left: 1rem;
}
#patch-notes-summary > .p-title {
  width: 100%;
  text-align: center;
}
.img-recipe {
  border: 0.1rem solid #000;
  background-color: #602;
  padding: 1rem;
  margin: 1rem;
  max-width: 50%;
}
